[submodule "media/jxlib"]
	path = media/jxlib
	url = git@github.com:jonlb/JxLib.git
[submodule "media/jxlib-extensions"]
	path = media/jxlib-extensions
	url = git@github.com:jonlb/jxlib-extensions.git
[submodule "node_modules/jxLoader"]
	path = node_modules/jxLoader
	url = git@github.com:jonlb/node-jxLoader.git
[submodule "node_modules/jsmin"]
	path = node_modules/jsmin
	url = https://github.com/pkrumins/node-jsmin.git
[submodule "media/core"]
	path = media/core
	url = git://github.com/mootools/mootools-core.git
[submodule "media/more"]
	path = media/more
	url = git://github.com/mootools/mootools-more.git
