[submodule "media/more"]
	path = media/more
	url = https://github.com/mootools/mootools-more.git
[submodule "media/core"]
	path = media/core
	url = https://github.com/mootools/mootools-core.git
[submodule "media/jxlib"]
	path = media/jxlib
	url = git@github.com:jonlb/JxLib.git
[submodule "media/jxlib-extensions"]
	path = media/jxlib-extensions
	url = git@github.com:jonlb/jxlib-extensions.git
[submodule "vendor/jxLoader"]
	path = vendor/jxLoader
	url = git@github.com:jonlb/node-jxLoader.git
